.certificate-card-wrap {
    /* width: 250px; */
    width: 300px;
    box-shadow: 0px 1.7777777910232544px 1.7777777910232544px 0px #0000001A;
}

.certificate-heading-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
}

.certificate-heading {
    font-family: Outfit;
    font-size: 19px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    /* color: #222222E5; */

}

.certificate-wrap {
    width: 100%;
    height: 46px;
    top: 142px;
    left: 386px;
    border-radius: 26.666658401489258px;
    border: 1px solid #CECECE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0px;
}

.certificate-wrap h2 {
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #222222E5;
}

.certificate-wrap p {
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #222222E5;
}