.about-wrap {
    border: 1px solid #00000026;
    border-radius: 4px;
    width: 426px;
    height: 123px;
    padding: 18px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 1.7777777910232544px 1.7777777910232544px 0px #0000001A;
    background-color: #ebebeb26;
}

.about-para {
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #222222E5;
}
.about-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.about-heading h3 {
    font-family: Outfit;
    font-size: 19px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    /* color: #222222E5;     */
}
.about-heading h3 span {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #413B89;

}