.profile-sub-detail-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:end;
    margin-bottom: 10px ;
    
}

.sub-data-wrap {
    /* display: flex; */
    align-items: center;
}

.profile-data {
    font-size: 17px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    color: #222222E5;


}

.detail-label {
    /* width: 53px; */
    height: 13px;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    margin: 5px 0px;
    color: #1F1F1FB2;
    ;

}

/* .sub-data-wrap {
margin: 12px
} */