.profile-detail-wrap {
    width: 296px;
    height: 168.89px;
    top: 136.88890075683594px;
    left: 26.66668701171875px;
    border-radius: 4.44444465637207px;
    border: 0.8888888955116272px;
    padding: 26px 24px;
    background-color: lightblue;

}